/**
 * Created by zds on 2016/1/25.
 */
.place-select {
  position: absolute;
  top: 35px;
  left: 65px;
  width: 435px;
  line-height: 16px;
  background: #fff;
  border: 2px solid #e1e1e1;
  z-index: 10000000;
}

.place-select-tips {
  margin: 5px 0 0 10px;
  font-size: 12px;
  color: #666;
}

.place-select .close {
  float: right;
  margin-right: 10px;
  width: 12px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
.place-select .close i{
  top: 0;
}
.place-select .close:hover{
  color: #3baae3;
}

.zh-place-select-option {
  margin-top: 10px;
  border-bottom: 2px solid #ccc;
}

.zh-place-ul {

}

.zh-place-li {
  padding: 5px 15px;
  font-size: 12px;
  color: #666;
  text-align: center;
  cursor: pointer;
}

.zh-place-li:hover {
  color: #f58220;
}

.zh-place-li-cur {
  color: #f58220;
}

.place-ul {
  padding: 10px;
}

.place-li {
  float: left;
  width: 16%;
  padding: 5px 2%;
  text-align: left;
  font-size: 12px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.place-li:hover {
  color: #fff;
  background: #f58220;
}

.place-select-tips2 {
  float: right;
  margin: 0 20px 10px;
  font-size: 12px;
  color: #999;
}

/****选择目的地****/